/* CSS style for TazWikiss */

body { font: 13px sans-serif, vernada, arial; margin: 0; }
code { font-size: 12px; }
img { border: 0px; }
a { color: #333C4D; }
a.pending { color: #7F4736; }
a.url { color: #808080; }
a:hover { color: #57A2D4; }
pre { 
	border: 1px dotted #ddd;
	padding: 4px;
	width: 640px;
	overflow: auto;
}

/* Plugin wkp_Tables */
table.wikitable {
	border-collapse: collapse;
	border: 1px solid #ddd;
}

table.wikitable td {
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}

table.wikitable td.em {
	background: #ccc;
	font-weight: bold;
} 

/* Table Of Content */
#toc {
	border: 1px dashed #11141A;
	float:right;
	padding-right: 2em;
}
#toc h1 {
	font-size: 10px;
	padding-left: .5em;
}
#toc h2 {
	font-size: 9px;
	padding-left: 1.5em;
}
#toc h3 {
	font-size: 8px;
	padding-left: 2em;
}
#toc h4 {
	font-size: 7px;
	padding-left: 2.5em;
}
#toc h5 {
	font-size: 6px;
	padding-left: 3em;
}

.category {
	color: #999;
	background: inherit;
}

th {
	text-align: left;
	background: #351a0a;
	height: 40px;
	border-bottom: 4px solid #d66018;
}

th h1 {
	margin: 0; padding: 8px; color: #fff; font-size: 20px;
}

th a {
	text-decoration: none;
	color: white !important;
}

th p {
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 80%;
	margin: 0;
	color: white !important;
}

#mainTable {
	border-bottom: 1px solid #ddd;
}

.pageLinks {
	padding-left: 1em;
	padding-right: 1em;
	font-size: 80%;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #eee;
	color: #666;
}
.pageLinks a {
	font-weight: bold;
	text-decoration: none;
}

#headerLinks td {
	border-bottom: 1px dashed #ccc !important;
}

#footerLinks td {
	border-top: 1px dashed #ccc !important;
}

#mainContent {
	font-size: 90%;
	padding: 1em;
	background-color: white;
}

#mainContent h2:first-child {
	margin-top: 0px;
}

.error {
	color: #F25A5A;
	font-size: 80%;
	font-weight: bold;
}

form {
	display: inline
}
